@charset "utf-8";

.find_pwd_box{
    display: inline-block;
    width:800px;
    margin:0 auto;
    margin-left:30%;
    margin-top: 42px;
    margin-bottom: 42px;
    overflow: hidden;
}

.forget_password{
    /*background-image: url("../images/wangjimima.png");*/
    background-size: 500px 55px;
    background-repeat: no-repeat;
    display: block;
    width:500px;
    height:110px;
    float: left;
    margin-right: 132px;
}

.forget_password p:nth-child(1){
    font-size: 22px;
    color:black;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
}

.forget_password p:nth-child(2){
    font-size: 22px;
    color:#4b5054;
    float: right;
    padding-top: 10px;
    padding-right: 60px;
}

.forget_password+div{
    font-weight:bold;
    font-size: 18px;
    padding-left: 10px;
}

.problem_item{
    overflow: hidden;
    margin-top: 50px;
    padding-left: 50px;
}

.problem_item div{
    font-size: 16px;
    float: left;
    margin-right: 10px;
}

.problem_item input{
     float: left;
    line-height: 30px;
    width: 240px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 16px;
}

.find_pwd_btn{
    width: 120px;
    height: 40px;
    float: left;
    margin-left: 160px;
    border-radius: 4px;
    margin-top: 50px;
    font-size: 18px;
    padding-left: 10px;
    letter-spacing: 10px;
    background-color: red;
    font-weight: bold;
    color: white;
}

.header_add{
    font-color:black;
    font-family: Tahoma,Arial;
    font-size: 35px;
    font-weight:300;
    margin-top: 30px;
    position: absolute;
    left:600px;
    /*head:100px;*/
}

.reset_password{
    display: none;
}

.error_tip{
    float: left;
    line-height: 33px;
    color: #ff0101;
    margin-left: 10px;
    display: none;
}