a:hover{
    color: #333;
}

/*配件类型*/
.list_content_box{
    border: 1px solid #cccccc;
}
.list01{
    overflow: hidden;
    background-color: #f1f0f0;
    border-bottom:1px solid #cccccc;
}
.list01_02{
    border: none;
}
.attkey {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #383842;
    width: 10%;
    text-align: center;
    padding: 16px 0
}
.attvalues {
    float: left;
    padding: 14px 0;
    background-color: #fff;
    width: 90%;
}
.attvalues li{
    padding: 0 20px;
    float: left;
}
.attvalues li a{
    padding: 4px 8px;
    display: block;
    color: #383842;
}
.parts_type>div{
    overflow: hidden;
}
.parts_type>div:nth-child(1){
    color: #8C8C8C;
    margin: 0 25px;
}
.parts_type p{
    float: left;
    font-size: 12px;
    color: #383842;
    width: 10%;
    text-align: center;
    padding: 18px 0;
    margin-left: 1.7%;
}
.list01_02>div ul{
    margin: 12px 0;
}
.parts_type hr{
    background-color: #cccccc;
    margin: 5px 30px;
}


.list02{
    overflow: hidden;
    width:100%
}
.attkey02{
    float: left;
    font-size: 12px;
    color: #999;
    width: 10%;
    text-align: center;
    padding: 18px 0;
    margin-left: 1.7%;
}
.attvalues02 ul{
    margin: 12px 0;
}
.listline{
    border-bottom: 1px solid #333;
}
.currentli{
    margin-left: 1.7%;
    width: 10%;
}


/*产品列表*/
.probox{
    width: 1120px;
    margin: 20px auto;
    overflow: hidden;
}
.probox img{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}
.probox h1{
    font-size: 14px;
    color: #ff4a00;
    padding-left: 10px;
}
.v{
    width:202px;
    margin: 11px;
}
.probox h1 strong{
    font-size: 20px;
}
.probox h2{
    font-size: 14px;
    color: #343434;
    padding-left: 10px;
}
/*分页*/
.page{
    height: 32px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 14px;
    color: #898989;
    line-height: 32px;
    text-align: center;
}
.page a,.page input{
    display: inline-block;
}
.page>a{
    width: 88px;
    height: 30px;
    margin-left: 4px;
    border: 1px solid #e5e5e5;
}
.page>span>a{
    width: 30px;
    height: 30px;
    margin-left: 4px;
    border: 1px solid #e5e5e5;
}
.page>a:hover,.page>span>a:hover,.page input:nth-child(2):hover{
    color: #ffffff;
    background: #E73C4D;
}
.page>span:nth-child(4){
    margin-left: 8px;
    margin-right: 36px;
}
.page input:nth-of-type(1){
    width: 36px;
    height: 32px;
    margin: 0 8px;
    border: 1px solid #e5e5e5;
    text-align: center;
}
.page input:nth-of-type(2){
    width: 58px;
    height: 32px;
    margin-left: 6px;
    border: 1px solid #e5e5e5;
    color: #545454;
    background: #fff;
}
.selected{
    color:#E73C4D !important;
}